@font-face{
    font-family: 'mont';
    src: url(../fonts/ofont.ru_Montserrat.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'monts';
    src: url(../fonts/ofont.ru_Montserrat_semiBold.ttf);
    font-weight: 600;
    font-style: normal;
}


@font-face{
    font-family: 'montb';
    src: url(../fonts/ofont.ru_Montserrat\ Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'sev';
    src: url(../fonts/ofont.ru_Severina.ttf);
    font-weight: 500;
    font-style: normal;
}